@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body{
    font-family: "Manrope", sans-serif; 
    margin: 0%;
}
.main-container{
    background-color:#0A2640 ;
    color: white;
    padding-inline: 100px ;
    padding-top: 56px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center; 
}
.nav-links li {
    list-style-type: none;
    display: inline;
    padding: 40px ; 
    font-size: 16px;  
}
.nav-links a:hover{
     color:black;
}
.nav-links  a{
    text-decoration: none;
    color: white;
}
.login-button{
    color:#0A2640;
     border-radius: 19px;
     height: 35px;
     width: 99px;
     background-color: white;
     cursor: pointer;
     font-size: 16px;
 }
 .login-button:hover{
    color:black;
 }
 .about{
    background-color: #0A2640;
    color:#F1F1F1;
    text-align: center;
    padding-top: 72px ;
    font-size: 20px;
}
.heading{
    font-size: 48px;
    line-height: 72px;
    padding-inline: 360px;
    margin-bottom: 0;
}
.paragraph{
    font-size: 16px;
    line-height: 28px;
    padding-inline: 315px;
    margin: 0;
    padding-bottom: 166px;
}
.team{
    display: flex;
    padding-inline: 150px;
    margin-top: -100px;
    padding-bottom: 124px;
}
.img1{
    padding-bottom: 40px;
}
.img4{
    padding-bottom: 40px;
}
.flex-img2{
    padding-inline: 50px;   
} 
.container1{
    padding-inline: 300px;
}
.our-story{
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.heading1{
    font-size: 38px;
    line-height: 72px;
}
.paragraph1{
    padding-bottom: 96px;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.container2{
    padding-block: 96px;
    text-align: center;
    background-color: #0A2640;
    color: white;
}
.our-number{
    font-size: 20px;
    line-height: 32px;
    color:#F1F1F1;
}
.heading2{
    font-size: 38px;
    line-height: 72px;
    padding-inline: 279px;
    padding-bottom: 87px;
}
.flex-num{
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
}
.num{
    color:#4FE9A4;
    font-size: 96px;
    line-height: 56px;
}
.numbers{
    padding-inline: 141px;
}
.cool{
    font-size: 24px;
    line-height: 36px;
    color:#F1F1F1;
}
.container3{
    padding-inline: 300px;
    padding-top: 96px;
}
.our-team{
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.heading3{
    font-size: 38px;
    line-height: 72px;
}
.paragraph3{
    padding-bottom: 52px;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.team-flex{
    display: flex;
    justify-content: center;
    padding-inline: 200px;
    padding-bottom: 120px;
}
.team-img2{
    padding-inline: 51px;
}
.name{
    font-size: 28px;
    line-height: 48px;
}
.manager{
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.container4{
    padding-inline: 300px;
    padding-block: 120px;
    background-color: #0A2640;
    color: white;
}
.our-values{
    font-size: 20px;
    line-height: 32px;
    color:#F1F1F1;
}
.heading4{
    font-size: 38px;
    line-height: 72px;
}
.paragraph4{
    padding-bottom: 96px;
    font-size: 20px;
    line-height: 32px;
    color:#F1F1F1;
    padding-bottom: 72px;
}
.flex-values{
    display: flex;
    flex-direction:row; 
    padding-bottom: 72px;  
}
.heading5{
    font-size: 28px;
    line-height: 48px;
}
.paragraph5{
    font-size: 20px;
    line-height: 32px;
    color:#F1F1F1;
}
.img-values{
    padding-right: 50px;
}

.footer{ 
    background-color: white;
    padding-inline: 150px;
    padding-top: 154px;
}
footer{ 
    border-radius: 12px;
    background-color: #0A2640;
    color: white;
    background-image: url(img/bg.png) ;
    background-repeat: no-repeat;
    background-position: right top;
}
.heading7{ 
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    padding-inline:242px;
    padding-top: 10px ;
}
.emailbtn{
    display: flex;
    align-items:center;
    padding-inline: 298px;
    padding-bottom: 72px;
}
.startbtn{
    margin-left: 10px;
}
.email{
    font: 20px;
    padding-left:20px ;
    border-radius: 240px;
    width: 350px;
    height: 46px;
    border: none;
}
.startbtn{
    background-color: #65E4A3;
    color:#0A2640;
    border: none;
    border-radius: 56px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
.container8{
    display: flex;
    padding-left: 100px;
    padding-top: 104px;
}
.paragraph7{
    color: #777777;
    font-size: 16px;
    line-height: 28px;
    padding-top: 40px;
    width: 300px;
} 
.abc{
    padding-top: 64px;
    padding-bottom: 117px;
    color: #777777;
    font-size: 16px;
}
.container9{
    padding-right: 100px;
    padding-left: 179px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
}
.container9 ul{
    list-style: none;
}
.h{
    color: #000000;
    font-size: 20px;
    line-height: 32px;
    padding-bottom:32px ;
}
.container9 ,li {
    list-style: none;
    font-size: 20px;
    line-height: 32px;
    color:  #777777;
    margin-left:50px ;
    margin-bottom: 50px;
}
.container9 li p{
    margin-bottom:0;
} 
.container9 button{
    margin: 10px;
    font-size: 13px;
    border:none;
    border-radius: 20px;
    background-color: #65E4A3;}
.button{
    display: flex;
    align-items: center;
} 
.list1{
   
   padding-right: 50px;
   padding-bottom: 21px;
} 